snippet if
	if (${1:true}) {
		${2}
	}

snippet else
	else {
		${3}
	}

snippet switch
	switch (${1:expression}) {
		case '${2:case}':
			${3:// code}
			break;
		default:
			${4:// code}
	}

snippet case
	case '${1:case}':
		${2:// code}
		break;

snippet for
	for (${1}) {
		${2}
	};

snippet while
	while (${1:/* condition */}) {
		${2:/* code */}
	}

snippet func
	function ${1:function_name} (${2:argument}) {
		${3:// body...}
	}
